<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="ChecklistDbConnectionName" value="KortexContent"/>
      <setting name="HangfireDashboardUrl" value="/sitecore/hangfire"/>
      <setting name="Sitecore.Services.SecurityPolicy" value="Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure" />
      <setting name="IgnoreUrlPrefixes" value="/sitecore/hangfire|/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing|/sitecore/service/xdb/disabled.aspx" />
    </settings>
    <pipelines>
      <owin.initialize>
        <processor type="Sitecore.Module.Checklist.Hangfire.Initializer, Sitecore.Module.Checklist" />
      </owin.initialize>
      <initialize>
        <processor type="Sitecore.Module.Checklist.Routings.RouteRegistration, Sitecore.Module.Checklist" patch:after="processor[@type='Sitecore.PathAnalyzer.Services.Pipelines.Initialize.WebApiInitializer, Sitecore.PathAnalyzer.Services']" />
      </initialize>
    </pipelines>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="ChecklistController">Sitecore.Module.Checklist.Controllers.ChecklistController, Sitecore.Module.Checklist</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>